## Objective

In this checkpoint, you will be able to make your first API request
Instructions

    Define an API
    Get the request API from this url (http://api.open-notify.org/astros.json)
    Show us the status code of response
    Extract data from the this API using json
    Create a dataframe containing your final data from your obtained json data.

## API stands for Application Programming Interface
     It is a software algorithm that can be accessed and or executed. It is a software interface that allows two applications to interact with each other without any user intervention.

In [1]:
import requests

In [4]:
# Getting requet API
res = requests.get('http://api.open-notify.org/astros.json')

In [5]:
# Code response

print(res.status_code)

200

In [25]:
# Extracting data from the this API using json

json_response = res.json()
json_response

{'people': [{'craft': 'Tiangong', 'name': 'Cai Xuzhe'},
  {'craft': 'Tiangong', 'name': 'Chen Dong'},
  {'craft': 'Tiangong', 'name': 'Liu Yang'},
  {'craft': 'ISS', 'name': 'Sergey Prokopyev'},
  {'craft': 'ISS', 'name': 'Dmitry Petelin'},
  {'craft': 'ISS', 'name': 'Frank Rubio'},
  {'craft': 'ISS', 'name': 'Nicole Mann'},
  {'craft': 'ISS', 'name': 'Josh Cassada'},
  {'craft': 'ISS', 'name': 'Koichi Wakata'},
  {'craft': 'ISS', 'name': 'Anna Kikina'},
  {'craft': 'Shenzhou 15', 'name': 'Fei Junlong'},
  {'craft': 'Shenzhou 15', 'name': 'Deng Qingming'},
  {'craft': 'Shenzhou 15', 'name': 'Zhang Lu'}],
 'number': 13,
 'message': 'success'}

In [26]:
# Creating a dataframe from the json data

import pandas as pd
from pandas import json_normalize

json_df = json_normalize(json_response['people'])
json_df

          craft              name
0      Tiangong         Cai Xuzhe
1      Tiangong         Chen Dong
2      Tiangong          Liu Yang
3           ISS  Sergey Prokopyev
4           ISS    Dmitry Petelin
5           ISS       Frank Rubio
6           ISS       Nicole Mann
7           ISS      Josh Cassada
8           ISS     Koichi Wakata
9           ISS       Anna Kikina
10  Shenzhou 15       Fei Junlong
11  Shenzhou 15     Deng Qingming
12  Shenzhou 15          Zhang Lu