**Objective In this checkpoint, we take back the previous dictionary to create our dataset and apply what we learned in data cleaning and data transformation parts.

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

Instructions Create a dataframe from the exam_data dictionary indexed by labels list. Check if you have missing values by calculating the sum of NaN values. Replace missing values by the appropriate data. Now, once you cleaned your data, transform the values of the qualify variable into numerical(using the two methods of transformation)**

*** Q1. Create a dataframe from the exam_data dictionary indexed by labels list.***

In [ ]:
import pandas as pd, numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas', "Elias", 'Myriam'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan , 8, 19, 20, 16],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, np.nan ,1, 3, 2],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no',np.nan , 'yes', 'yes', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
exam_data_pd = pd.DataFrame(exam_data)
exam_data_pd.index = labels
print(exam_data_pd)

        name  score  attempts qualify
a  Anastasia   12.5       1.0     yes
b       Dima    9.0       3.0      no
c  Katherine   16.5       2.0     yes
d      James    NaN       3.0      no
e      Emily    9.0       2.0      no
f    Michael   20.0       3.0     yes
g    Matthew   14.5       1.0     yes
h      Laura    NaN       1.0      no
i      Kevin    8.0       NaN     NaN
j      Jonas   19.0       1.0     yes
k      Elias   20.0       3.0     yes
l     Myriam   16.0       2.0     yes

***Q2. Check if you have missing values by calculating the sum of NaN values***

In [ ]:
print(exam_data_pd.isna().sum())

name        0
score       2
attempts    1
qualify     1
dtype: int64

***Q3(a). Replace missing values by the appropriate data***

In [ ]:
exam_data_pd['score'].fillna(2, inplace = True)
print(exam_data_pd)

        name  score  attempts qualify
a  Anastasia   12.5       1.0     yes
b       Dima    9.0       3.0      no
c  Katherine   16.5       2.0     yes
d      James    2.0       3.0      no
e      Emily    9.0       2.0      no
f    Michael   20.0       3.0     yes
g    Matthew   14.5       1.0     yes
h      Laura    2.0       1.0      no
i      Kevin    8.0       NaN     NaN
j      Jonas   19.0       1.0     yes
k      Elias   20.0       3.0     yes
l     Myriam   16.0       2.0     yes

***Q3(b). Replace missing values by the appropriate data***

In [ ]:
exam_data_pd['attempts'].fillna(1, inplace = True)
print(exam_data_pd)

        name  score  attempts qualify
a  Anastasia   12.5       1.0     yes
b       Dima    9.0       3.0      no
c  Katherine   16.5       2.0     yes
d      James    2.0       3.0      no
e      Emily    9.0       2.0      no
f    Michael   20.0       3.0     yes
g    Matthew   14.5       1.0     yes
h      Laura    2.0       1.0      no
i      Kevin    8.0       1.0     NaN
j      Jonas   19.0       1.0     yes
k      Elias   20.0       3.0     yes
l     Myriam   16.0       2.0     yes

***Q3(c). Replace missing values by the appropriate data***

In [ ]:
exam_data_pd['qualify'].fillna('no', inplace = True)
print(exam_data_pd)

        name  score  attempts qualify
a  Anastasia   12.5       1.0     yes
b       Dima    9.0       3.0      no
c  Katherine   16.5       2.0     yes
d      James    2.0       3.0      no
e      Emily    9.0       2.0      no
f    Michael   20.0       3.0     yes
g    Matthew   14.5       1.0     yes
h      Laura    2.0       1.0      no
i      Kevin    8.0       1.0      no
j      Jonas   19.0       1.0     yes
k      Elias   20.0       3.0     yes
l     Myriam   16.0       2.0     yes

***Q4(a). Transform the values of the qualify variable into numerical using label encoder method***

In [ ]:
import sklearn.preprocessing as sk
encoder = sk.LabelEncoder()
exam_data_pd['qualify_LE'] = encoder.fit_transform(exam_data_pd['qualify'])
print(exam_data_pd)

        name  score  attempts qualify  qualify_LE
a  Anastasia   12.5       1.0     yes           1
b       Dima    9.0       3.0      no           0
c  Katherine   16.5       2.0     yes           1
d      James    2.0       3.0      no           0
e      Emily    9.0       2.0      no           0
f    Michael   20.0       3.0     yes           1
g    Matthew   14.5       1.0     yes           1
h      Laura    2.0       1.0      no           0
i      Kevin    8.0       1.0      no           0
j      Jonas   19.0       1.0     yes           1
k      Elias   20.0       3.0     yes           1
l     Myriam   16.0       2.0     yes           1

***Q4(b). Transform the values of the qualify variable into numerical using One-hot encoder method***

In [ ]:
qualify_one_hot = pd.get_dummies(exam_data_pd['qualify'])
exam_data_pd = exam_data_pd.drop('qualify', axis = 1)
exam_data_pd = exam_data_pd.join(qualify_one_hot)
print(exam_data_pd)

        name  score  attempts  qualify_LE  no  yes
a  Anastasia   12.5       1.0           1   0    1
b       Dima    9.0       3.0           0   1    0
c  Katherine   16.5       2.0           1   0    1
d      James    2.0       3.0           0   1    0
e      Emily    9.0       2.0           0   1    0
f    Michael   20.0       3.0           1   0    1
g    Matthew   14.5       1.0           1   0    1
h      Laura    2.0       1.0           0   1    0
i      Kevin    8.0       1.0           0   1    0
j      Jonas   19.0       1.0           1   0    1
k      Elias   20.0       3.0           1   0    1
l     Myriam   16.0       2.0           1   0    1